body {
  background: #fcf5dc url('../images/body-bg.jpg') repeat-x top left;
  color: #333;
  font: normal 14px Arial;
}

.container {
  width: 1138px;
  margin: 0 auto;
  background: #fcf5dc;
  background-image: none;
}

.sidebar2 {
  float: right;
  width: 255px;
}

.sidebar1 {
  margin-right: 280px;
}

/* шапка */
.header {
  margin-bottom: 20px;
}

.header .right-menu {
  margin: 50px 0 30px;
}

.header .right-menu a:link, .header .right-menu a:visited {
  display: inline-block;
  height: 21px;
  color: #8b8b8b;
  font: normal 13px Arial;
  text-decoration: underline;
  padding: 4px 0 0 30px;
}

.header .right-menu a:hover, .header .right-menu a:active {
  color: #f1524f;
}

.header .right-menu .feedback a:link, .header .right-menu .feedback a:visited {
  background: url('../images/header-right-menu-bg-feedback.png') no-repeat top left;
}

.header .right-menu .feedback a:hover, .header .right-menu .feedback a:active {
  background-position: 0 -35px;
}

.header .right-menu .subscribe a:link, .header .right-menu .subscribe a:visited {
  background: url('../images/header-right-menu-bg-subscribe.png') no-repeat top left;
}

.header .right-menu .subscribe a:hover, .header .right-menu .subscribe a:active {
  background-position: 0 -36px;
}

.header .header-logo {
  position: relative;
  float: left;
  padding-top: 15px;
  z-index: 10;
}

.header .search-cont {
  padding-top: 8px;
}

.header .search-cont input {
  float: left;
  width: 200px;
  border: solid 1px #ebf4f7;
  margin-top: 2px;
  padding: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px #d8eaef inset;
  -moz-box-shadow: 0 1px 2px #d8eaef inset;
  box-shadow: 0 1px 2px #d8eaef inset;
  outline: none;
}

.header .search-cont a:link, .header .search-cont a:visited {
  float: right;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url('../images/button-search.png') no-repeat top left;
  text-indent: -9999px;
  cursor: pointer;
}

.header .search-cont a:hover, .header .search-cont a:active {
  background-position: 0 -47px;
}

/* первое верхнее меню */
.header .header-menu-first-cont {
  margin-left: 255px;
  padding-top: 70px;
}

.header .header-menu-first {

}

.header .header-menu-first li {
  float: left;
  margin: 0 3px 0 0;
}

.header .header-menu-first li a:link, .header .header-menu-first li a:visited {
  display: inline-block;
  height: 13px;
  padding: 10px;
  border: solid 1px transparent;
}

.header .header-menu-first li a:hover, .header .header-menu-first li a:active, .header .header-menu-first li.active a {
  background-color: #fff;
  border: solid 1px #afdad8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px #cee5da;
  -moz-box-shadow: 0 1px 2px #cee5da;
  box-shadow: 0 1px 2px #cee5da;
}

/* /первое верхнее меню */
/* второе меню сверху */
.header .header-menu-second-cont {
  position: relative;
  /* top: -15px; */
  background: #fff;
  padding: 0 13px;
  border: solid 1px #eee5c3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 0;
  -webkit-box-shadow: 0 1px 2px #eee5c3;
  -moz-box-shadow: 0 1px 2px #eee5c3;
  box-shadow: 0 1px 2px #eee5c3;
  background: #ecf8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 50%, #e0f4f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, #e0f4f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 50%, #e0f4f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 50%, #e0f4f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 50%, #e0f4f6 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 50%, #e0f4f6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e0f4f6', GradientType = 0); /* IE6-9 */
}

.header .header-menu-second {
  width: 100%;
}

.header .header-menu-second td {
  text-align: center;
}

.header .header-menu-second td a:link, .header .header-menu-second td a:visited {
  font: normal 18px Arial;
  color: #236187;
  text-decoration: none;
  display: block;
  padding: 6px;
}

.header .header-menu-second td.active a:link, .header .header-menu-second td.active a:visited {
  color: #a28433;
  background: #fffae5; /* Old browsers */
  background: -moz-linear-gradient(top, #fffae5 0%, #ffffff 35%, #ffffff 40%, #fef1c3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffae5), color-stop(35%, #ffffff), color-stop(40%, #ffffff), color-stop(100%, #fef1c3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffae5 0%, #ffffff 35%, #ffffff 40%, #fef1c3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffae5 0%, #ffffff 35%, #ffffff 40%, #fef1c3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fffae5 0%, #ffffff 35%, #ffffff 40%, #fef1c3 100%); /* IE10+ */
  background: linear-gradient(top, #fffae5 0%, #ffffff 35%, #ffffff 40%, #fef1c3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fffae5', endColorstr = '#fef1c3', GradientType = 0); /* IE6-9 */
}

.header .header-menu-second td a:hover, .header .header-menu-second td a:active,
.header .header-menu-second td.active a:hover, .header .header-menu-second td.active a:active {
  color: #1994b4;
  background: #f1fcfe; /* Old browsers */
  background: -moz-linear-gradient(top, #d5f6fe 0%, #ffffff 35%, #ffffff 40%, #c2f2fd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5f6fe), color-stop(35%, #ffffff), color-stop(40%, #ffffff), color-stop(100%, #c2f2fd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d5f6fe 0%, #ffffff 35%, #ffffff 40%, #c2f2fd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d5f6fe 0%, #ffffff 35%, #ffffff 40%, #c2f2fd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d5f6fe 0%, #ffffff 35%, #ffffff 40%, #c2f2fd 100%); /* IE10+ */
  background: linear-gradient(top, #d5f6fe 0%, #ffffff 35%, #ffffff 40%, #c2f2fd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d5f6fe', endColorstr = '#c2f2fd', GradientType = 0); /* IE6-9 */
}

/* /второе меню сверху */
/* /шапка */
/* стили на главной */
.main-cont {
  margin-top: 15px;
}

.white-bg-rounded {
  background: #fff;
  border: solid 2px #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.bg-rounded {
  border: solid 2px transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* горячая линия */
.hotline-cont {
  height: 177px;
  background: url('../images/hotline-bg.jpg') no-repeat top left;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 130px;
}

.hotline-cont .title {
  font: bold 14px Arial;
  color: #236187;
  padding: 22px 0 0 14px;
}

.hotline-cont .title p {
  margin-top: 5px;
}

.hotline-cont .bubble {
  position: relative;
  top: -10px;
  left: -30px;
  width: 240px;
  height: 130px;
  padding: 60px 0 0 40px;
  background: url('../images/hotline-bubble-bg.png') no-repeat left top;
}

.hotline-cont .bubble .text1 {
  color: #236187;
  font: normal 14px Arial;
  margin-bottom: 7px;
}

.hotline-cont a.button-quest:link, .hotline-cont a.button-quest:visited {
  float: left;
  padding: 3px 15px !important;
}

.hotline-cont .button-archive {
  float: left;
  margin: 2px 0 0 15px;
}

.hotline-cont .button-archive a:link, .hotline-cont .button-archive a:visited {
  color: #236187;
}

.hotline-cont .button-archive a:hover, .hotline-cont .button-archive a:active {
  color: #f1524f;
}

/* /горячая линия */
.main-photogal {
  margin-top: 20px;
  height: 335px;
  background: url('../images/photogal-main.png') no-repeat top;
}

.main-photogal .button-main-photogal {
  margin: 240px 0 0 10px;
}

.button-red, .button-red:link, .button-red:visited {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  font: bold 14px Arial;
  text-align: center;
  text-decoration: none;
  background: #f36c69;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-red:hover, .button-red:active {
  background: #f1524f;
  -webkit-box-shadow: 0 0 10px #ffc000 inset;
  -moz-box-shadow: 0 0 10px #ffc000 inset;
  box-shadow: 0 0 10px #ffc000 inset;
}

.button-green, a.button-green:link, a.button-green:visited {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  font: bold 14px Arial;
  text-align: center;
  text-decoration: none;
  background: #b2c62e;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-green:hover, a.button-green:active {
  background: #a5bc09;
  -webkit-box-shadow: 0 0 10px #ffc000 inset;
  -moz-box-shadow: 0 0 10px #ffc000 inset;
  box-shadow: 0 0 10px #ffc000 inset;
}

/* советы педиатра */
.advice-title {
  color: #236187;
  font: normal 24px Arial;
  padding: 3px 10px;
}

.advice-main-item {
  border-top: dotted 1px #c8e9ef;
  padding: 10px;
}

.advice-main-item:hover {
  background: #e9f7f8;
}

.advice-main-item .date {
  color: #999;
  font: italic 12px Arial;
  margin-bottom: 5px;
}

.advice-main-item a:link, .advice-main-item a:visited {
  font: normal 15px Arial;
  color: #065888;
  text-decoration: none;
}

.advice-main-item a:hover, .advice-main-item a:active {
  text-decoration: underline;
}

/* /советы педиатра */
/* визуалы и баннеры */
.visual1 {
  height: 360px;
  background: url('../images/visual-bg1.jpg') no-repeat top left;
}

.visual1 .visual-text-cont {
  float: left;
  height: 230px;
  margin: 40px;
  padding: 25px 55px;
  background: url('../images/visual-white-transp.png');
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.visual1 .visual-text-cont .title-pic {
  text-align: center;
}

.visual-text-cont .title-link {
  margin-top: 20px;
  color: #f1524f;
  font: normal 30px Arial;
}

.visual-text-cont .title-link a:link, .visual-text-cont .title-link a:visited {
  color: #f1524f;
}

.visual-text-cont .title-link a:hover, .visual-text-cont .title-link a:active {
  color: #fe4e4b;
}

.visual-text-cont .desc {
  margin-top: 20px;
  color: #cb813a;
  font: normal 18px Arial;
}

.sidebar3 {
  margin-top: 10px;
}

.sidebar3 .sidebar3-1 {
  float: left;
  width: 254px;
}

.sidebar3 .sidebar3-2 {
  margin-left: 280px;
}

.banner-small {
  margin-bottom: 10px;
}

.banner-small img {
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* /визуалы и баннеры */
/* центр главной */
/* новости */
.main-news-cont {
  padding-bottom: 10px;
}

.main-news-cont .main-title {
  display: block;
  height: 32px;
  color: #d34c4a;
  font: normal 26px Arial;
  margin: 15px 0;
  padding-left: 38px;
  background: url('../images/news-title-icon.png') no-repeat left;
}

.main-news-cont .item-date {
  color: #666;
  font: italic 14px Arial;
}

.main-news-cont .item-title, .main-news-cont .item-title a:link, .main-news-cont .item-title a:visited {
  color: #236187;
  font: normal 18px Arial;
  margin: 10px 0;
  text-decoration: none;
}

.main-news-cont .item-title a:hover, .main-news-cont .item-title a:active {
  text-decoration: underline;
}

.main-news-cont .item-text {
  margin-bottom: 20px;
  overflow: hidden;
}

.main-news-cont .item-text img {
  float: left;
  margin: 0 10px 5px 0;
}

.main-news-cont .item-text p {
  margin-bottom: 5px;
}

.main-news-cont a.more-link:link, .main-news-cont a.more-link:visited {
  display: inline-block;
  height: 19px;
  padding-right: 18px;
  color: #236187;
  font: italic 15px Arial;
  background: url('../images/arrow-blue-right.png') no-repeat;
  background-position: 100% 2px;
}

.main-news-cont a.more-link:hover, .main-news-cont a.more-link:active {
  color: #1a95b5;
  background-position: 100% -22px;
}

.main-news-cont a.all-news:link, .main-news-cont a.all-news:visited {
  display: inline-block;
  height: 19px;
  padding-right: 18px;
  color: #f1524f;
  font: italic 15px Arial;
  background: url('../images/arrow-red-right.png') no-repeat;
  background-position: 100% 2px;
}

.main-news-cont a.all-news:hover, .main-news-cont a.all-news:active {
  color: #ff423e;
  background-position: 100% -22px;
}

/* /новости */
/* голосование */
.main-poll-cont {
  background: #fff;
  -webkit-border-radius: 0 15px 15px 15px;
  -moz-border-radius: 0 15px 15px 15px;
  border-radius: 0 15px 15px 15px;
}

.main-poll-cont .title {
  font: bold 14px Arial;
  padding: 20px;
  border-bottom: solid 1px #f3f1e7;
}

.main-poll-cont .choises {
  padding: 20px 20px 5px;
}

.main-poll-cont .choises li {
  margin-bottom: 15px;
}

.main-poll-cont .choises .radio {
  position: relative;
  top: 2px;
  margin: 0 15px;
}

.main-poll-cont .submit {
  border: solid 1px transparent;
  cursor: pointer;
  margin: 0 0 20px 20px;
}

/* /голосование */
/* центр главной */
/* /стили на главной */
/* стили каталога */
/* меню каталога */
.catalog-menu-cont {
  background: #def8ff url('../images/catalog-menu-bg.jpg') repeat-x top;
}

.catalog-menu-cont table {
  width: 100%;
}

.catalog-menu-cont table td {
  vertical-align: top;
}

.catalog-menu-cont table a:link, .catalog-menu-cont table a:visited {
  display: block;
  color: #1a557a;
  font: bold 15px Arial;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.catalog-menu-cont table a:link div, .catalog-menu-cont table a:visited div {
  height: 150px;
  margin-left: 11px;
  padding-right: 11px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.catalog-menu-cont table a:hover, .catalog-menu-cont table a:active {
  background: url('../images/catalog-menu-bga1.png') no-repeat left top;
}

.catalog-menu-cont table a:hover div, .catalog-menu-cont table a:active div {
  background: url('../images/catalog-menu-bga2.png') no-repeat right top;
}

.catalog-menu-cont table a.active:link, .catalog-menu-cont table a.active:visited {
  position: relative;
  height: 146px;
  color: #d34c4a;
  border: solid 2px #8de8ff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ddf8ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ddf8ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ddf8ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #ddf8ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ddf8ff 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ddf8ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ddf8ff', GradientType = 0); /* IE6-9 */
}

.catalog-menu-cont table a.active:hover div, .catalog-menu-cont table a.active:active div {
  background: transparent !important;
}

.catalog-menu-cont table a.active:link span, .catalog-menu-cont table a.active:visited span {
  position: absolute;
  width: 28px;
  height: 23px;
  left: 38%;
  bottom: -23px;
  background: url('../images/catalog-menu-active-bgd.png') no-repeat top left;
}

/* /меню каталога */
/* главная каталога */
.visual3 .inner-text {
  padding-top: 22px;
  color: #1a557a;
  font: normal 24px Arial;
}

.visual3 .inner-text a:link, .visual3 .inner-text a:visited {
  color: #d34c4a;
}

.visual3 .inner-text a:hover, .visual3 .inner-text a:active {
  color: #ff423e;
}

/* /главная каталога */
/* внутренняя каталога */
.catalog-cont .catalog-title-inner-main {
  padding: 20px 0 7px;
  color: #d34c4a;
  font: normal 34px Arial;
  text-align: center;
  border-bottom: dotted 1px #a4e2f2;
}

.sidebar4 {
  margin: 0 280px 0 275px;
}

.sidebar4 .catalog-title-inner {
  padding-top: 10px;
  color: #a68a3e;
  font: normal 27px Arial;
  text-align: center;
}

.sidebar5 {
  float: left;
  width: 270px;
}

/* меню слева в каталоге */
.sidebar5 .catalog-left-menu {
  margin-top: 2px;
  padding: 15px 0;
  border: solid 2px #eed990;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fffae8 0%, #ffffff 5%, #ffffff 95%, #fffae8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffae8), color-stop(5%, #ffffff), color-stop(95%, #ffffff), color-stop(100%, #fffae8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffae8 0%, #ffffff 5%, #ffffff 95%, #fffae8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffae8 0%, #ffffff 5%, #ffffff 95%, #fffae8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fffae8 0%, #ffffff 5%, #ffffff 95%, #fffae8 100%); /* IE10+ */
  background: linear-gradient(top, #fffae8 0%, #ffffff 5%, #ffffff 95%, #fffae8 100%); /* W3C */
}

.catalog-left-menu ul a:link, .catalog-left-menu ul a:visited {
  display: block;
  color: #1a557a;
  font: normal 15px Arial;
  text-decoration: none;
  border-bottom: dotted 1px #a4e2f2;
}

.catalog-left-menu > ul > li:last-child > a {
  border-bottom: none !important;
}

.catalog-left-menu ul a:hover, .catalog-left-menu ul a:active {
  color: #ff423e;
  text-decoration: underline;
}

.catalog-left-menu > ul > li > a {
  padding: 7px 30px;
}

.catalog-left-menu > ul > li.active > a {
  background: #ddf8ff url('../images/catalog-menu-left-acti1.png') no-repeat right;
}

.catalog-left-menu > ul > li > ul > li > a {
  padding: 7px 30px 5px 55px;
  background: #eefbff;
}

.catalog-left-menu > ul > li > ul > li.active > a:link, .catalog-left-menu > ul > li > ul > li.active > a:visited {
  color: #d34c4a;
  background: #eefbff url('../images/catalog-menu-left-acti2.png') no-repeat right;
}

.catalog-left-menu > ul > li > ul > li.active > a:hover, .catalog-left-menu > ul > li > ul > li.active > a:active {
  color: #ff423e;
}

/* /меню слева в каталоге */
/* /внутренняя каталога */
.white-bg {
  background: #fff;
}

.catalog-cont {
  margin-top: 5px;
  -webkit-box-shadow: 0 3px 5px #efe6c5;
  -moz-box-shadow: 0 3px 5px #efe6c5;
  box-shadow: 0 3px 5px #efe6c5;
}

.catalog-title-other {
  height: 102px;
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: dotted 1px #a4e2f2;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  background: url('../images/visual-bg2.jpg') no-repeat left top;
}

.catalog-title-other .inner-cont {
  height: 102px;
  background: url('../images/visual-white-transp.png');
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}

.catalog-cont .content-cont {
  margin: 0 10px 0 20px;
}

/* листалка */
.catalog-cont .pager-cont {
  border-top: dotted 1px #a4e2f2;
  border-bottom: dotted 1px #a4e2f2;
  padding: 5px 0;
}

.catalog-cont a.allin:link, .catalog-cont a.allin:visited {
  float: left;
  margin-top: 2px;
  color: #a28433;
  text-decoration: underline;
}

.catalog-cont .catalog-pager {
  float: left;
  margin: 0 10px;
  padding: 0 5px;
  border-left: dotted 1px #a4e2f2;
  border-right: dotted 1px #a4e2f2;
}

.catalog-cont .catalog-pager li {
  float: left;
  margin: 0 5px;
  color: #dcc17a;
  font: normal 18px Arial;
}

.catalog-cont .catalog-pager li.pager-active {
  color: #dcc17a;
  font: normal 18px Arial;
}

.catalog-cont .catalog-pager li.pager-prev a:link, .catalog-cont .catalog-pager li.pager-prev a:visited,
.catalog-cont .catalog-pager li.pager-next a:link, .catalog-cont .catalog-pager li.pager-next a:visited {
  display: inline-block;
  width: 16px;
  height: 19px;
  background-position: 0 0;
  text-indent: -9999px;
}

.catalog-cont .catalog-pager li.pager-prev a:link, .catalog-cont .catalog-pager li.pager-prev a:visited {
  background: url('../images/arrow-pager-left.png') no-repeat;
}

.catalog-cont .catalog-pager li.pager-next a:link, .catalog-cont .catalog-pager li.pager-next a:visited {
  background: url('../images/arrow-pager-right.png') no-repeat;
}

.catalog-cont .catalog-pager li.pager-prev a:hover, .catalog-cont .catalog-pager li.pager-prev a:active,
.catalog-cont .catalog-pager li.pager-next a:hover, .catalog-cont .catalog-pager li.pager-next a:active {
  background-position: 0 -30px;
}

.catalog-cont .catalog-pager li a:link, .catalog-cont .catalog-pager li a:visited {
  color: #a28433;
  font: normal 18px Arial;
  text-decoration: underline;
}

.catalog-cont a.allin:hover, .catalog-cont a.allin:active,
.catalog-cont .catalog-pager li a:hover, .catalog-cont .catalog-pager li a:active {
  color: #ff423e;
}

/* /листалка */
.catalog-cont .catalog-items {
  margin-top: 20px;
}

.catalog-items .catalog-item-cont {
  width: 256px;
  float: left;
  margin: 0 25px 25px 0;
  border: solid 1px #a4e2f2;
  -webkit-border-radius: 0 15px 15px 15px;
  -moz-border-radius: 0 15px 15px 15px;
  border-radius: 0 15px 15px 15px;
}

.catalog-items .catalog-item-last-cont {
  margin-right: 0 !important;
}

.catalog-items a.catalog-item-link:link, .catalog-items a.catalog-item-link:visited {
  text-decoration: none;
  color: #236187;
  font: normal 15px Arial;
  cursor: pointer;
}

.catalog-items a.catalog-item-link:link .catalog-item-title1, .catalog-items a.catalog-item-link:visited .catalog-item-title1 {
  color: #236187;
  font: normal 18px Arial;
  text-align: center;
  padding: 5px 10px;
  border-bottom: dotted 1px #a4e2f2;
}

.catalog-items a.catalog-item-link:link .catalog-item-title2, .catalog-items a.catalog-item-link:visited .catalog-item-title2 {
  color: #d34c4a;
  font: normal 18px Arial;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.catalog-items a.catalog-item-link:link .catalog-item-title3, .catalog-items a.catalog-item-link:visited .catalog-item-title3 {
  text-align: center;
  font-weight: bold;
}

.catalog-items a.catalog-item-link:link .catalog-item-title4-cont, .catalog-items a.catalog-item-link:visited .catalog-item-title4-cont {
  color: #d34c4a;
  font: normal 18px Arial;
  text-align: center;
  padding: 5px 10px;
  border-bottom: dotted 1px #a4e2f2;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;
  background: #ecf8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #fafdfe 0%, #ecf8f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafdfe), color-stop(100%, #ecf8f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafdfe 0%, #ecf8f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafdfe 0%, #ecf8f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafdfe 0%, #ecf8f9 100%); /* IE10+ */
  background: linear-gradient(top, #fafdfe 0%, #ecf8f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafdfe', endColorstr = '#ecf8f9', GradientType = 0); /* IE6-9 */
}

.catalog-items a.catalog-item-link:link .catalog-item-title4, .catalog-items a.catalog-item-link:visited .catalog-item-title4 {
  color: #236187;
}

.catalog-items a.catalog-item-link:hover .catalog-item-title1, .catalog-items a.catalog-item-link:active .catalog-item-title1,
.catalog-items a.catalog-item-link:hover .catalog-item-title2, .catalog-items a.catalog-item-link:active .catalog-item-title2,
.catalog-items a.catalog-item-link:hover .catalog-item-title3, .catalog-items a.catalog-item-link:active .catalog-item-title3,
.catalog-items a.catalog-item-link:hover .catalog-item-title4, .catalog-items a.catalog-item-link:active .catalog-item-title4 {
  color: #ff423e;
  text-decoration: underline;
}

.catalog-items .catalog-item-img,
.catalog-items .catalog-item-img2 {
  text-align: center;
}

.catalog-items .catalog-item-img img,
.catalog-items .catalog-item-img2 img {
  margin: 15px 0 5px;
}

.catalog-items .catalog-item-img2 {
  border-bottom: dotted 1px #a4e2f2;
}

.catalog-items .catalog-item-inner-text {
  padding: 15px;
}

.catalog-items .catalog-item-inner-text2 {
  padding: 15px;
  border-top: dotted 1px #a4e2f2;
}

/* /стили каталога */
.dashed-raz-brown {
  height: 20px;
  border-top: dashed 1px #c9bf99;
  background: #fcf5dc; /* Old browsers */
  background: -moz-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9dec0), color-stop(100%, #fcf5dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* IE10+ */
  background: linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e9dec0', endColorstr = '#fcf5dc', GradientType = 0); /* IE6-9 */
}

.dashed-raz-brown-small {
  height: 20px;
  border-top: dashed 1px #c9bf99;
  background: url('../images/raz-brown-bg.png') no-repeat top center;
}

.solid-raz-brown {
  height: 20px;
  border-top: solid 1px #e9dec0;
  background: #fcf5dc; /* Old browsers */
  background: -moz-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9dec0), color-stop(100%, #fcf5dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* IE10+ */
  background: linear-gradient(top, #e9dec0 0%, #fcf5dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e9dec0', endColorstr = '#fcf5dc', GradientType = 0); /* IE6-9 */
}

/* подвал */
.footer {
}

.footer .copy {
  margin: 40px 0 40px;
  color: #c6b790;
  font: normal 13px Arial;
}

.footer a.brands-link:link, .footer a.brands-link:visited {
  display: inline-block;
  color: #1577b0;
  font: normal 18px Arial;
  text-decoration: none;
  margin-bottom: 10px;
  padding-right: 25px;
  background: url('../images/arrow-blue-down.png') no-repeat right;
}

.footer-brands {
  min-height: 40px;
}

.footer-brands .inner-cont {
  width: 1138px;
  margin: 10px auto 10px;
}

.footer-brands ul.brands-logos {
  display: none;
}

.footer-brands .solid-raz-brown {
  display: none;
}

.footer-brands ul.brands-logos li {
  float: left;
  margin: 0 10px 10px 0;
}

/* подвал */
/* отступы */
.marginb20 {
  margin-bottom: 20px;
}

span.bold {
  font-weight: bold;
}

/* /отступы */
/* clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* IE < 8 */